.footer{
    display: flex;
    padding:20px;
    margin:20px 0;
    gap:30px;
    justify-content: center;
    align-items: center;
}
.github-links{
    display: flex;
    justify-content: space-evenly;
    max-width: 800px;
    width: 100%;
    align-items: center;
    gap:2em;
}
.group-link{
    text-decoration: none;
    display: flex;
    align-items: center;
    /* max-width: fit-content; */
    width: fit-content;
    margin:0;
    object-fit: scale-down;
    /* border: 2px solid #001b39; */
    border-radius: 5px;
    background-image:linear-gradient(-270deg,black 0%,#001b39 100%);
    gap:1em;
    padding:5px;
}
.github-icon{
    height:40px;
}

.contributor-name{
    margin:0;
    color:White;
    /* background-color: #001b39; */
}
