.storiesContainer {
    display: flex;
    color: white;
    gap: 5em;
}

/* .story {
    cursor: pointer;
    font-weight: 1000;
}

.storyHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.commenttext {
    font-weight: 1000;
}

.message {
    margin-top: .5em;
}

.commentbox {
    background-color: rgb(219, 218, 215);
    margin: .5em
}

.com {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} */

.detailsShow {

}

/* .detailsHidden {
    display: none;
} */


.storyContainer {
    background-color: white;
    color:black;
    border: solid grey
}

.currentHeader {
    display: flex;
    justify-content: space-between;
    background-color: #ed7d1a



}

.descrip {
    margin-top: .5em;
}

button {
    /* background-color: #ed7d1a; */
}
.currentStories {
    display: flex;
    flex-direction: column;
    width: 35%;
    background-color: grey;
    border-radius: .5em
}

.backlog {
    display: flex;
    flex-direction: column;
    width: 35%;
    background-color: grey;
     border-radius: .5em
}

/* .buttonz button {
    background-color: grey;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 6px 15px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s;
} */
