.projectNavContainer {
    display: flex;
    flex-direction: column;
    background-color: #2F3337;
    color: white;
    gap: 2em;
    width: 8em;
    height: 100vh;
    cursor: pointer;

}

.projectModal {
    cursor: pointer;
}
